h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', serif;
}

p, div {
    font-family: 'Roboto', sans-serif;
}

.error {
    color: red;
    padding-top: 15px;
}
html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}
body {
    height: 100%;
    padding-top: 50px;
}

#footer {
    position: absolute;
    background-color: #e2e2e2;
    width: 100%;
    border-top: grey solid 1px;
    color: grey;
    bottom: 0;
    padding: 12px;
}

:root {
    --text-colour: green;
}

#mainContent {
    height: 80vh;
}

#topPanel {
    position: absolute;
    width:100%;
    z-index: 1;
    background: #6ec4ff;
    padding: 15px;
    color: white;
    border-bottom: grey 1px solid;
}

#visHolder {
    position: absolute;
    width: 100%;
    height: 90%;
}

#noStudentToShow {
    position: relative;
    height: 100%;

}
#noStudentToShowText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#sideNav {
    overflow: scroll;
    padding-top: 50px;
    height: 100%;
    color: black;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #e9e9e9;
    border-left: 1px solid grey;
}
#sideNav .form-header {
    color: black;
}

#currentTopic {
    height: 30%;
}

.sliderLabel {
    display: block;
    margin-bottom: 20px;
}

#noSelectedTopic, #selectedTopic {
    font-size: large;
    font-weight: bold;
    text-align: center;
    color: #849b98;
    margin-top: 20px;
    margin-bottom: 10px;
}

.feedback-section {
    padding-bottom: 3em;
}

.feedback-section > label {
    margin-bottom: 20px;
    display: block;
}

#deleteEdgeButton {
    margin: 20px;
    float: right;
}

.form-header {
    color: grey;
    font-size: 20px;
    padding-bottom: 10px;
}

#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}

#slider {
    margin-top: 1em;
    margin-bottom: 1.5em;
    width: 15em;
}