h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', serif;
}

p, div {
    font-family: 'Roboto', sans-serif;
}

.error {
    color: red;
    padding-top: 15px;
}

body {
    padding-top: 70px;
}

:root {
    --text-colour: green;
}

#mainContent {
    border: 8px solid #aaa;
    height: 90vh;
}

#visHolder {
    height: 80vh;
}

#sideNav {
    height: 90vh;
    border: 8px solid #aaa;
    border-left: 0;
}

#currentTopic {
    height: 15%;
}

#currentEdge {
    height: 15%;
}

#selectedTopic {
    color: var(--text-colour);
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}

.round.in-selection {
    background: #cbcbcb;
}

.slider-selection.tick-slider-selection {
    background: #cbcbcb;
}

.slider-track-high {
    background: #7e99ff;
}

.round {
    background: #7e99ff;
}

.slider-handle {
    background: lightgreen;
}

#feedback {
    padding-bottom: 3em;
}

#selectedEdge {
    color: var(--text-colour);
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}

.form-header {
    color: grey;
    font-size: 20px;
    padding-bottom: 10px;
}

#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}

#slider {
    margin-top: 1em;
    margin-bottom: 1.5em;
    width: 15em;
}

#completed {
    color: #09ff28;
}

#selectedTopicScore {
    font-size: 20px;
    background-color: rgba(127, 255, 212, 0.28);
    padding: 1em;
    border: solid black;
    border-radius: 50%;
    display: inline-block;
}