h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', serif;
}

p, div {
    font-family: 'Roboto', sans-serif;
}

.error {
    color: red;
    padding-top: 15px;
}

body {
    padding-top: 50px;
}

:root {
    --text-colour: green;
}

#mainContent {
    height: 80vh;
}

#topPanel {
    background: #6ec4ff;
    padding: 15px;
    color: white;
}

#visHolder {
    height: 90%;
}

#noStudentToShow {
    position: relative;
    height: 100%;

}
#noStudentToShowText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#sideNav {
    height: 90vh;
    border-left: 0;
}

#currentTopic {
    height: 30%;
}

.sliderLabel {
    display: block;
    margin-bottom: 20px;
}

#noSelectedTopic, #selectedTopic {
    font-size: large;
    font-weight: bold;
    text-align: center;
    color: var(--text-colour);
    margin-top: 20px;
    margin-bottom: 10px;
}

.feedback-section {
    padding-bottom: 3em;
}

.feedback-section > label {
    margin-bottom: 20px;
    display: block;
}

#deleteEdgeButton {
    margin: 20px;
    float: right;
}

.form-header {
    color: grey;
    font-size: 20px;
    padding-bottom: 10px;
}

#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}

#slider {
    margin-top: 1em;
    margin-bottom: 1.5em;
    width: 15em;
}