#averageScoreSliderSpace {
    margin-left: 30px;
    margin-top: 20px;
    display: inline-block;
}

#averageScoreSliderSpace .round.in-selection {
    background: #cbcbcb;
}

#averageScoreSliderSpace .slider-selection.tick-slider-selection {
    background: #cbcbcb;
}

#averageScoreSliderSpace .slider-track-high {
    background: #7e99ff;
}

#averageScoreSliderSpace .round {
    background: #7e99ff;
}

#feedbackCountSliderSpace {
    margin-top: 40px;
}

.filtering-label {
    padding-top: 20px;
}

#noFeedback {
    margin-top: 20px;
    text-align: center;
    font: large italic;
    color: #999;
}

#gradeFilterSliderSpace {
    margin-top: 35px;
}

#mainContent h1 {
    display: inline;
}

#addFilterBtn {
    float: right;
    color: black;
    border-radius: 20px;
}

#addFilterBtn:focus {
    outline: 0;
}

.filter-btn, #gradeFilterBtn {
    border-radius: 20px;
    outline: 0;
}

.gradeFilterLabel {
    color: white;
}

#gradeFilterSliderSpace .slider-selection {
    background: #baa04e;
}

.filter-btn:active:focus, .filter-btn:focus {
    outline: 0;
}

.containerForChosen {
    margin: 15px 0 15px 0;
}

#filterOptions {
    padding: 15px;
}

#numberStudentsShowing {
    padding: 15px;
    color: #6d6d6d;
}