#selectedTopicDescription {
    margin: 0 0 50px 0;
    color: dimgrey;
}

#giveFeedbackButton {
    margin-bottom: 20px;
}

.round.in-selection {
    background: #cbcbcb;
}

.slider-selection.tick-slider-selection {
    background: #cbcbcb;
}

.slider-track-high {
    background: #7e99ff;
}

.round {
    background: #7e99ff;
}


.slider-handle {
    background: lightgreen;
}

#completed {
    margin-top: 30px;
    color: #09ff28;
}