:root {
    --primary-colour: lightblue;
}

#titleBar {
    background-color: var(--primary-colour);
}

#myholder {
    border: 8px solid var(--primary-colour);
    height: 90vh;
}

#sideBar {
    background-color: var(--primary-colour);
    height: 90vh;
}

#currentTopic {
    height: 20%;
}

#currentEdge {
    height:20%;
}

#selectedTopic {
    color: red;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}

#selectedEdge {
    color: red;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}

.form-header {
    color: grey;
    font-size: 20px;
    padding-bottom: 10px;
}
